 .u-section-1 {
  background-image: none;
  min-height: 1196px;
}

.u-section-1 .u-group-1 {
  height: auto;
  min-height: 319px;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 59px 120px 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 28px 0 48px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 48px calc(((100% - 1140px) / 2)  + -14px) 0 auto;
}

.u-section-1 .u-image-1 {
  min-height: 515px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/DH5Rb2FU0AAs6pt.jpg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(144,48,193,0.4);
  padding: 30px;
}

.u-section-1 .u-image-2 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/AdobeStock_390677178-1024x699.jpeg');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(144,48,193,0.4);
  padding: 30px;
}

.u-section-1 .u-image-3 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/ojYY3C_-ulwkPjeM7FE6xA.png');
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(144,48,193,0.4);
  padding: 30px;
}

.u-section-1 .u-image-4 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/Womens-safety-and0ACommunity-Policing0AMysore-March-2020.png');
}

.u-section-1 .u-container-layout-5 {
  box-shadow: 0px 0px 8px 0px rgba(144,48,193,1);
  padding: 30px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-image-5 {
  min-height: 255px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('images/8e2ef7bc164b91ce43c1b3746d02504c.jpg');
}

.u-section-1 .u-container-layout-7 {
  box-shadow: 5px 5px 20px 0 rgba(144,48,193,0.4);
  padding: 30px;
}

.u-section-1 .u-image-6 {
  min-height: 515px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://infosecawareness.in/gallery/handbooks/Women-Handbooks/thumb/cybersafegirl6.jpg');
}

.u-section-1 .u-container-layout-8 {
  box-shadow: 0px 0px 8px 0px rgba(144,48,193,1);
  padding: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1061px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 80px;
  }

  .u-section-1 .u-text-1 {
    width: 700px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 425px;
  }

  .u-section-1 .u-image-2 {
    min-height: 210px;
  }

  .u-section-1 .u-image-3 {
    min-height: 210px;
  }

  .u-section-1 .u-image-4 {
    min-height: 210px;
  }

  .u-section-1 .u-image-5 {
    min-height: 210px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-6 {
    min-height: 425px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 2396px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 95px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    width: 660px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 651px;
  }

  .u-section-1 .u-image-2 {
    min-height: 322px;
  }

  .u-section-1 .u-image-3 {
    min-height: 322px;
  }

  .u-section-1 .u-image-4 {
    min-height: 322px;
  }

  .u-section-1 .u-image-5 {
    min-height: 322px;
  }

  .u-section-1 .u-image-6 {
    min-height: 651px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 3358px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 110px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    width: 520px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    min-height: 488px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    min-height: 483px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    min-height: 488px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2101px;
  }

  .u-section-1 .u-group-1 {
    min-height: 144px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 40px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 51px;
    margin-right: auto;
    margin-bottom: 60px;
  }

  .u-section-1 .u-image-1 {
    min-height: 307px;
  }

  .u-section-1 .u-image-2 {
    min-height: 304px;
  }

  .u-section-1 .u-image-3 {
    min-height: 304px;
  }

  .u-section-1 .u-image-4 {
    min-height: 304px;
  }

  .u-section-1 .u-image-5 {
    min-height: 304px;
  }

  .u-section-1 .u-image-6 {
    min-height: 307px;
  }
}.u-block-3dba-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-3dba-3 {
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  width: 65px;
  height: 65px;
  left: calc(((100% - 1140px) / 2)  + -46px);
  top: 342px;
  position: absolute;
  right: auto;
}

.u-block-3dba-4 {
  background-image: none;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  width: 65px;
  height: 65px;
  left: auto;
  top: 340px;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + -46px);
}

@media (max-width: 1199px) {
  .u-block-3dba-3 {
    left: calc(((100% - 940px) / 2)  + -38px);
  }

  .u-block-3dba-4 {
    right: calc(((100% - 940px) / 2)  + -38px);
  }
}

@media (max-width: 991px) {
  .u-block-3dba-3 {
    left: calc(((100% - 720px) / 2)  + -29px);
  }

  .u-block-3dba-4 {
    right: calc(((100% - 720px) / 2)  + -29px);
  }
}

@media (max-width: 767px) {
  .u-block-3dba-3 {
    left: calc(((100% - 540px) / 2)  + -22px);
  }

  .u-block-3dba-4 {
    right: calc(((100% - 540px) / 2)  + -22px);
  }
}

@media (max-width: 575px) {
  .u-block-3dba-3 {
    left: calc(((100% - 340px) / 2)  + -14px);
  }

  .u-block-3dba-4 {
    right: calc(((100% - 340px) / 2)  + -14px);
  }
}

 .u-section-2-1 {
  background-image: none;
}

.u-section-2-1 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0 296px;
}

.u-section-2-1 .u-list-1 {
  width: 720px;
  margin: 120px auto 0 199px;
}

.u-section-2-1 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 235px;
  grid-gap: 0px;
}

.u-section-2-1 .u-list-item-1 {
  --radius: 15px;
}

.u-section-2-1 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2-1 .u-group-1 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-1 .u-text-2 {
  margin: 40px auto 0;
}

.u-section-2-1 .u-list-item-2 {
  --radius: 15px;
}

.u-section-2-1 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2-1 .u-group-2 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-1 .u-text-3 {
  margin: 40px auto 0;
}

.u-section-2-1 .u-list-item-3 {
  --radius: 15px;
}

.u-section-2-1 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-2-1 .u-group-3 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-1 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-1 .u-text-4 {
  margin: 40px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2-1 .u-list-1 {
    margin-right: -38px;
  }

  .u-section-2-1 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2-1 .u-group-1 {
    height: auto;
  }

  .u-section-2-1 .u-group-2 {
    height: auto;
  }

  .u-section-2-1 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2-1 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-left: auto;
  }

  .u-section-2-1 .u-list-1 {
    width: 645px;
    margin: 63px auto 60px;
  }

  .u-section-2-1 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    min-height: 240px;
  }

  .u-section-2-1 .u-container-layout-1 {
    padding: 10px;
  }

  .u-section-2-1 .u-group-1 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-1 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-2-1 .u-group-2 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-1 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-2-1 .u-container-layout-5 {
    padding: 10px;
  }

  .u-section-2-1 .u-group-3 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2-1 .u-list-1 {
    width: 540px;
  }

  .u-section-2-1 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 705px;
  }
}

@media (max-width: 575px) {
  .u-section-2-1 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2-1 .u-list-1 {
    width: 207px;
    margin-top: 46px;
    margin-left: 59px;
  }

  .u-section-2-1 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 522px;
  }
}

 .u-section-2-2 {
  background-image: none;
}

.u-section-2-2 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2-2 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 2px 0px 8px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 62px auto 0 296px;
}

.u-section-2-2 .u-list-1 {
  width: 720px;
  margin: 120px auto 0 199px;
}

.u-section-2-2 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 235px;
  grid-gap: 0px;
}

.u-section-2-2 .u-list-item-1 {
  --radius: 15px;
}

.u-section-2-2 .u-container-layout-1 {
  padding: 23px 30px;
}

.u-section-2-2 .u-group-1 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-2 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-2 .u-text-2 {
  width: 89px;
  left: 47px;
  top: 122px;
  margin: 40px 43px 0 auto;
}

.u-section-2-2 .u-list-item-2 {
  --radius: 15px;
}

.u-section-2-2 .u-container-layout-3 {
  padding: 23px 30px;
}

.u-section-2-2 .u-group-2 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-2 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-2 .u-text-3 {
  width: 89px;
  left: 47px;
  top: 122px;
  margin: 40px 43px 0 auto;
}

.u-section-2-2 .u-list-item-3 {
  --radius: 15px;
}

.u-section-2-2 .u-container-layout-5 {
  padding: 23px 30px;
}

.u-section-2-2 .u-group-3 {
  height: 190px;
  --radius: 15px;
  width: 180px;
  margin: 0 auto 0 0;
}

.u-section-2-2 .u-icon-4 {
  width: 64px;
  height: 64px;
  margin: 18px auto 0;
}

.u-section-2-2 .u-text-4 {
  width: 89px;
  left: 47px;
  top: 122px;
  margin: 40px 43px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2-2 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-2-2 .u-list-1 {
    margin-right: -38px;
  }

  .u-section-2-2 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-2-2 .u-group-1 {
    height: auto;
  }

  .u-section-2-2 .u-group-2 {
    height: auto;
  }

  .u-section-2-2 .u-group-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-2-2 .u-text-1 {
    width: auto;
    margin-top: 69px;
    margin-left: auto;
  }

  .u-section-2-2 .u-list-1 {
    width: 645px;
    margin: 63px auto 60px;
  }

  .u-section-2-2 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    min-height: 240px;
  }

  .u-section-2-2 .u-container-layout-1 {
    padding: 10px;
  }

  .u-section-2-2 .u-group-1 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-2 .u-container-layout-3 {
    padding: 10px;
  }

  .u-section-2-2 .u-group-2 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2-2 .u-icon-3 {
    margin-top: 5px;
  }

  .u-section-2-2 .u-container-layout-5 {
    padding: 10px;
  }

  .u-section-2-2 .u-group-3 {
    width: 188px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 705px;
  }
}

@media (max-width: 575px) {
  .u-section-2-2 .u-sheet-1 {
    min-height: 952px;
  }

  .u-section-2-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2-2 .u-list-1 {
    width: 207px;
    margin-top: 46px;
    margin-left: 59px;
  }

  .u-section-2-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    min-height: 522px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 495px;
}

.u-section-3 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 33.3333%;
  grid-template-columns: repeat(3, 33.3333%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 80px;
  width: 80px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 80px;
  width: 80px;
  background-image: none;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  text-transform: uppercase;
  margin: 20px auto 0;
  padding: 2px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: repeat(3, 33.333333333333336%);
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: repeat(2, 50%);
    min-height: 710px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
} .u-section-4 {
  background-image: url("images/photo-1466854076813-4aa9ac0fc347.jpeg");
}

.u-section-4 .u-sheet-1 {
  min-height: 479px;
}

.u-section-4 .u-image-1 {
  width: 300px;
  height: 300px;
  margin: 78px auto 0 111px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: -245px 244px 60px auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 672px;
  }

  .u-section-4 .u-image-1 {
    width: 240px;
    height: 240px;
    margin-top: 217px;
    margin-left: 46px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -203px;
    margin-right: 21px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 501px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 59px auto 0;
}

.u-section-5 .u-form-1 {
  width: 570px;
  margin: 29px auto 59px;
}

@media (max-width: 767px) {
  .u-section-5 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-form-1 {
    width: 340px;
  }
}